<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
  </head>
  <body>
    <header>This is nav bar</header>
    <h2>This is about us page</h2>
    <footer>This is footer</footer>
  </body>
</html>
