<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>This is nav bar</header>
    <ul>
      <li><%= locals.hobbies[0] %></li>
      <li><%= locals.hobbies[1] %></li>
      <li><%= locals.hobbies[2] %></li>
    </ul>

    <footer>This is footer</footer>
  </body>
</html>
