<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="email"> Email ID : </label>
      <input type="text" name="email" placeholder="enter your email here" />
      <label for="password"> Password : </label>
      <input type="password" name="passwd" placeholder="your password here.." />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
